---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Linux | ricadmin.io">
  <h1 class="rgb-title">Linux</h1>
  <p class="small">Notas claras, comandos reales y mini-labs.</p>

  <div class="card">
    <b>Próximo</b>
    <div class="small">LPIC-1 102 — 105.1 Shells y entorno</div>
  </div>
</Layout>
